<main>
    <section class="login-form">
        <div class="form-control">
            <label for="email" class="login-form__label">Email</label>
            <input type="email" class="login-form__email">
        </div>
        <div class="form-control">
            <label for="email" class="login-form__label">Password</label>
            <input type="password" class="login-form__password">
        </div>
        <button type="submit">Login</button>
    </section>
</main>