<main>
    <form class="login-form" action="/login" method="POST">
        <div class="form-control">
            <label for="email" class="login-form__label">Email</label>
            <input name="email" type="email" class="login-form__email">
        </div>
        <div class="form-control">
            <label for="email" class="login-form__label">Password</label>
            <input name="password" type="password" class="login-form__password">
        </div>
        <button type="submit">Login</button>
    </form>
</main>